.potato_body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.potato_main {
    background-color: grey;
}

.potato_supplies, .steps, .supplies {
    background-color: blueviolet;
    color: yellow;
    font-family: fantasy;
    font-size: 20px;
}

.list {
    background-color: antiquewhite;
    color: saddlebrown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.potato_photo {
    width: 200px;
    height: auto;
}

.eggs_main {
    background-color: blanchedalmond;
}

.eggs_steps, .eggs_supplies, .eggs_process, .eggs_list, .eggs_body {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: olive;

}

.eggs_photo {
    width: 200px;
    height: auto;
}