.bean {
    background-color: bisque;
    color: blueviolet;
}

.potato {
    background-color: chocolate;
    color: darkgoldenrod;
}

.eggs {
    background-color: darkcyan;
    color: forestgreen;
}